.company-logo {
    float: left;
    margin: auto;
    width: 100px;
    height: 100px;

}

.company-logo-detail {

    margin: auto;
    width: 200px;
    height: 200px;

}

.block_content {
    margin-bottom: 500px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}