{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}

    <div style="margin: 100px">

        <div class="row row-cols-1 row-cols-md-2 g-4">


            <div class="col">
                <div class="card">
                    <img src="{{ company.logo.url }}" class="card-img-top company-logo-detail" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">{{ company.name }}</h5>
                        <p class="card-text">{{ company.country.name }}</p>
                    </div>
                    <div class="card-body">
                        Партнеры:
                        {% for partner in company.partner.all %}
                            <a href="{% url 'company_detail' partner.pk %}">{{ partner.name }}</a>
                        {% endfor %}
                    </div>

                </div>
            </div>


        </div>

    </div>
{% endblock %}